<div id="bodyGrad">
		<img class="pngfix" src="/assets/body_grad.png" alt="" style="width: 3000px; height: 400px;" />
	</div>
	<div><!-- Start container -->
		
		<div id="pageHeader"><!-- Start page header -->
			<div id="grad"><img class="pngfix" src="/assets/header_top_grad.png" alt="" style="width: 3000px; height: 72px;" /></div>
			<img src="/assets/ImmigrateSmart.jpg" width="220" height="100"/>
			<h1>Immigrate Smart</h1>
			<h2>Changing the way you choose where to live... </h2>
		</div><!-- End page header -->
		
		<div id="navcontainer"><!-- Start Navigation -->
			<ul>
				<li><a href="/home/home.html" rel="" id="current">Home</a></li>
				<li><a href="blog/" rel="" color:white;>Country List</a>
					<ul>
						<% @countryList.each do |country| %>
							<li><a href="http://128.199.55.105:3100/home/index.html?country=<%= country %>"><%= country %></a></li>
						<% end %>
					</ul>
				</li>
				<li><a href="styled/" rel="">Comparison by Criteria</a>
					<ul>
						<li><a href="" rel="">Economic Incentives</a></li>
						<li><a href="" rel="">Job Opportunities</a></li>
						<li><a href="" rel="">Immigration Dynamics</a>
							<ul>
								<li><a href="" rel="">Page 1</a></li>
								<li><a href="" rel="">Page 2</a></li>
								<li><a href="" rel="">Page 3</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="contact-form/" rel="">Contact Immigrate Smart Team</a></li>
			</ul>
		</div><!-- End navigation -->

		<!--<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
			<!--<div id="sidebar"><!-- Start sidebar content -->
			<!--	<h1 class="sideHeader">Ads</h1><!-- Sidebar header -->
				<!--Jobs Offers, etc etc etc

			</div><!-- End sidebar content -->
		<!--</div><!-- End sidebar wrapper -->
		
		
		
		
		<!--    Start the content of Immigrate Smart -->
		
		<!--<div id="contentContainer"><!-- Start main content wrapper -->
			<!--<div id="contents"><!-- Start content -->
				<!--<hr><br /><br />-->
				
<br>				
<div id="mapContainer" style="min-width: 410px; height: 500px; max-width: 800px; margin: 0 auto"></div>
<br>

<div id="footer"><!-- Start Footer -->
			<p>Immigrate Smart Inc. </p>
			<div id="breadcrumbcontainer"><!-- Start the breadcrumb wrapper -->
				
			</div><!-- End breadcrumb -->
		</div><!-- End Footer -->
	</div><!-- End container -->
	
<script type="text/javascript" charset="utf-8">
// Load the fonts
Highcharts.createElement('link', {
   href: 'http://fonts.googleapis.com/css?family=Unica+One',
   rel: 'stylesheet',
   type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
         ]
      },
      style: {
         fontFamily: "'Unica One', sans-serif"
      },
      plotBorderColor: '#606063'
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   subtitle: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      title: {
         style: {
            color: '#A0A0A3'

         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      tickWidth: 1,
      title: {
         style: {
            color: '#A0A0A3'
         }
      }
   },
   tooltip: {
      backgroundColor: 'rgba(0, 0, 0, 0.85)',
      style: {
         color: '#F0F0F0'
      }
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         }
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      },
      errorbar: {
         color: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },
   credits: {
      style: {
         color: '#666'
      }
   },
   labels: {
      style: {
         color: '#707073'
      }
   },

   drilldown: {
      activeAxisLabelStyle: {
         color: '#F0F0F3'
      },
      activeDataLabelStyle: {
         color: '#F0F0F3'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },

   // scroll charts
   rangeSelector: {
      buttonTheme: {
         fill: '#505053',
         stroke: '#000000',
         style: {
            color: '#CCC'
         },
         states: {
            hover: {
               fill: '#707073',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            },
            select: {
               fill: '#000003',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            }
         }
      },
      inputBoxBorderColor: '#505053',
      inputStyle: {
         backgroundColor: '#333',
         color: 'silver'
      },
      labelStyle: {
         color: 'silver'
      }
   },

   navigator: {
      handles: {
         backgroundColor: '#666',
         borderColor: '#AAA'
      },
      outlineColor: '#CCC',
      maskFill: 'rgba(255,255,255,0.1)',
      series: {
         color: '#7798BF',
         lineColor: '#A6C7ED'
      },
      xAxis: {
         gridLineColor: '#505053'
      }
   },

   scrollbar: {
      barBackgroundColor: '#808083',
      barBorderColor: '#808083',
      buttonArrowColor: '#CCC',
      buttonBackgroundColor: '#606063',
      buttonBorderColor: '#606063',
      rifleColor: '#FFF',
      trackBackgroundColor: '#404043',
      trackBorderColor: '#404043'
   },

   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);
 var options2 = {
        
        chart : {
            type: "map",
            borderWidth : 1
        },

        title : {
            text : 'Available Countries'
        },
        subtitle : {
            text:'Click on a highlighted country for more information'
        },

        legend: {
            enabled: false
        },
        series : [{
            cursor: 'pointer',
            
            
            events: {
                click: function (event) {
                      window.location = "/home/index.html?country="+event.point.name;
                   if(event.point.value == 3)
                      window.location = "/home/index.html?country=United States";
                }
            },

            name: 'Country',
            mapData: Highcharts.maps['custom/world'],
            data: [{
                name: 'Australia',
                value: 1,
                
            }, {
                name: 'Canada',
                value: 1
            }, {
                name: 'France',
                value: 1
            },{
                name: 'Germany',
                value: 1
            },{
                name: 'South Africa',
                value: 5
            },{
                name: 'United Arab Emirates',
                value: 2
            },{
                name: 'United States of America',
                value: 3
            },{
                name: 'United Kingdom',
                value: 4
            }],
            joinBy: ['name', 'name'],
            dataLabels: {
                enabled: true,
                color: 'white',
                formatter: function () {
                    if (this.point.value) {
                        return this.point.name;
                    }
                }
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '{point.name}'
            }
        }]
    };
  
createMap();

function createMap(){
    options2.chart.renderTo = 'mapContainer';
    chart = new Highcharts.Map(options2);
    //chart.renderTo(container2);
    
    chart.redraw();
}
  
</script>