<div id="bodyGrad">
		<img class="pngfix" src="/assets/body_grad.png" alt="" style="width: 3000px; height: 400px;" />
	</div>
	<div id="container"><!-- Start container -->
		
		<div id="pageHeader"><!-- Start page header -->
			<div id="grad"><img class="pngfix" src="/assets/header_top_grad.png" alt="" style="width: 3000px; height: 72px;" /></div>
			<img src="/assets/ImmigrateSmart.jpg" width="220" height="100"/>
			<h1>Immigrate Smart</h1>
			<h2>Changing the way you choose where to live... </h2>
		</div><!-- End page header -->
		
		<div id="navcontainer"><!-- Start Navigation -->
			<ul>
				<li><a href="/home/home.html" rel="" id="current">Home</a></li>
				<li><a href="blog/" rel="" color:white;>Country List</a>
					<ul>
						<li><a href="" rel="">Australia</a></li>
						<li><a href="" rel="">Canada</a></li>
						<li><a href="" rel="">France</a></li>
						<li><a href="" rel="">Germany</a></li>
					</ul>
				</li>
				<li><a href="styled/" rel="">Comparison by Criteria</a>
					<ul>
						<li><a href="" rel="">Economic Incentives</a></li>
						<li><a href="" rel="">Job Opportunities</a></li>
						<li><a href="" rel="">Immigration Dynamics</a>
							<ul>
								<li><a href="" rel="">Page 1</a></li>
								<li><a href="" rel="">Page 2</a></li>
								<li><a href="" rel="">Page 3</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="contact-form/" rel="">Contact Immigrate Smart Team</a></li>
			</ul>
		</div><!-- End navigation -->

		<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
			<div id="sidebar"><!-- Start sidebar content -->
				<h1 class="sideHeader">Ads</h1><!-- Sidebar header -->
				Jobs Offers, etc etc etc

			</div><!-- End sidebar content -->
		</div><!-- End sidebar wrapper -->
		
		
		
		
		<!--    Start the content of Immigrate Smart -->
		
		<div id="contentContainer"><!-- Start main content wrapper -->
			<div id="contents"><!-- Start content -->
				<hr><br /><br />

							<h1 class="countrymap"><%= params[:country]%></h1>
							<br /><img class="countrymap" src="/assets/Map<%= params[:country]%>.jpg" width="400" height="400" alt="Site logo"/>
							<br/>
							Immigration is the movement of people into another country or region to which they are not native in order to settle there, especially as permanent residents or future citizens.
							<br /><br /><br /></p><p style="text-align:left;"><br />
			
			<div id="accordion">
				<h1>Economic Incentives </h1>
				<div>
					<iframe src="/salaryprofession.html" width="730" height="550"></iframe>
				</div>
				<h1>Job Opportunities</h1>
				<div>
					<h4>UX DESIGNERS - MULTIPLE ROLES - MID, SNR & LEAD - SYDNEY CBD</h4>
							Our client is one of Australia's leading financial organisations with a Digital Team providing integrated financial services to millions of Australians...
							Location: Sydney, AU
							Posted on: Wed, 29 Oct 2014 by<a href="http://www.overseasjobs.com/do/profile/2601/ikas-international"> iKas International</a>
							<br /></span>
						<span style="color:#333;">
							<h3>The Number of Biggest Companies in the Country: 45 </h3>
							
							<br /></span>
				</div>
				<h1>Immigration Dynamics</h1>
				<div>
				
				</div>
				<h1>Medical Care</h1>
				<div>
					<span style="color:#333;">
							<h2>Health Care system</h2>
							In Australia the current system, known as Medicare, was instituted in 1984. It coexists with a private health system. All legal permanent residents are entitled to government-paid public hospital care. Treatment by private doctors is also paid by the government when the doctor direct bills the Health Department (Bulk Billing). Medicare is funded partly by a 1.5% income tax levy (with exceptions for low-income earners), but mostly out of general revenue. An additional levy of 1% is imposed on high-income earners without private health insurance. There is a means tested 30% subsidy on private health insurance. As well as Medicare, there is a separate Pharmaceutical Benefits Scheme under which listing and a government subsidy is dependent on expert evaluation of the comparative cost-effectiveness of new pharmaceuticals. In 2005, Australia spent 8.8% of GDP on health care, or US$3,181 per capita. Of that, approximately 67% was government expenditure.
							<br /></span>
						<span style="color:#333;">
							<h2>Health Expenditure 9% of GDP (2011)</h2>
							
							<br /></span>
						<span style="color:#333;">
							<h2>Quality of Medical Services</h2>
							Health Care Index 2014 Mid Year: 71.90
							<br /></span>
				</div>
				<h1>Education</h1>
				<div>
					<iframe src="/pie.html" width="600" height="430"></iframe>
				</div>
				
				
			</div> <!-- End Accordion -->
			
			
			
			
			</div> <!-- End contents -->
		</div> <!-- End contentContainer -->
				


		<div id="footer"><!-- Start Footer -->
				<p>Immigrate Smart Inc.</p>
				
		</div><!-- End Footer -->
	</div><!-- End container -->	      