<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
	<div id="sidebar"><!-- Start sidebar content -->
		<h1 class="sideHeader">Ads</h1><!-- Sidebar header -->
		Jobs Offers, etc etc etc

	</div><!-- End sidebar content -->
</div><!-- End sidebar wrapper -->

		
<!--    Start the content of Immigrate Smart -->
<div id="contentContainer"><!-- Start main content wrapper -->		
		
<div id="contents"><!-- Start content -->

<script type="text/javascript">
  function checkForm(){
    if(document.getElementById('username').value.length<1 || document.getElementById('password').value.length<1)
    {
      document.getElementById('loginError').innerHTML='Username and password can not be empty!';
      
    }else 
      document.getElementById('loginForm').submit();
  }
  
  
</script>    
    <section>
    <div class="login">
      
      
      <h1>Login</h1>
      <form id="loginForm" method="post" action="http://128.199.55.105:3300/home/userlogin">
        <div style="color:red;" id="loginError" name="loginError"><%=flash[:login_error]%></div>
        <p>Username: <input type="text" name="username" id="username" value="" placeholder="Username or Email"></p>
        <p>Password: <input type="password" name="password" id="password" value="" placeholder="Password"></p>
        <!--<p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>-->
        <p class="submit"><input onclick="checkForm()" type="button" name="login" value="Login"></p>
      </form>
      </div>

    <div class="login-help">
      <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
    </div>
  </section>


			
	</div> <!-- End contents -->
</div> <!-- End contentContainer -->
